@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BlogPost

<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">

    <div class="slider-item" style="background-image: url(images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Read our Blog</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="blog.html">Blog</a></span> <span>Blog Single</span></p>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-degree-bg">
    <div class="container-fluid">
        <!-- Slider ilə blog content arasında boşluq -->
        <div style="height: 50px;"></div>

        <div class="row align-items-start">
            <!-- Sol tərəf: Şəkil -->
            <div class="col-md-4">
                <img src="@Model.ImageUrl" alt="" class="img-fluid">
            </div>

            <!-- Sağ tərəf: Blog başlıq və mətn -->
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">@Model.BlogDetail.Title</h2>
                <p>@Model.BlogDetail.Description</p>
            </div>
        </div>
    </div>
</section>

