
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh; flex-direction: column;">
    <h1 class="text-danger">Welcome Pizza</h1>
    <p class="text-primary fs-4">Delicious</p>
</div>

