@model pizza.Models.Gallery
@{
    ViewData["Title"] = "Delete Gallery";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Bu şəkili silmək istədiyinizə əminsiniz?</h3>

@if (!string.IsNullOrEmpty(Model.ImageUrl))
{
    <img src="@Model.ImageUrl" width="300" class="mb-3" />
}

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İmtina et</a>
</form>
