@model pizza.Models.Gallery
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="Edit" asp-controller="Gallery" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Cari Şəkil</label><br />
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" width="200" class="mb-3" />
        }
    </div>

    <div class="mb-3">
        <label asp-for="FormFile" class="form-label">Yeni şəkil seç</label>
        <input asp-for="FormFile" type="file" class="form-control" />
        <span asp-validation-for="FormFile" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Yenilə</button>
    <a asp-action="Index" class="btn btn-secondary">Geri</a>
</form>
