@model pizza.Models.Footer

<footer class="ftco-footer ftco-section img" style="padding: 7em 0;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <!-- About Us -->
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About Us</h2>
                    <p>@Model?.AboutText</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="@Model?.Twitter"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="@Model?.Facebook"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="@Model?.Instagram"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Recent Blog -->
            <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Recent Blog</h2>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url('@Model?.BlogImage1');"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">@Model?.BlogTitle1</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> @Model?.BlogDate1</a></div>
                                <div><a href="#"><span class="icon-person"></span> @Model?.BlogAuthor1</a></div>
                                <div><a href="#"><span class="icon-chat"></span> @Model?.BlogComment1</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url('@Model?.BlogImage2');"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">@Model?.BlogTitle2</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> @Model?.BlogDate2</a></div>
                                <div><a href="#"><span class="icon-person"></span> @Model?.BlogAuthor2</a></div>
                                <div><a href="#"><span class="icon-chat"></span> @Model?.BlogComment2</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Services -->
            <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Cooked</a></li>
                        <li><a href="#" class="py-2 d-block">Deliver</a></li>
                        <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
                        <li><a href="#" class="py-2 d-block">Mixed</a></li>
                    </ul>
                </div>
            </div>

            <!-- Contact -->
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">@Model?.Address</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">@Model?.Phone</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@Model?.Email</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
                    This template is made with <i class="icon-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</footer>
