
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

@model pizza.Models.Meal

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h4>Add New Meal</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div class="mb-3">
                    <label>Name</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Description</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label>Price</label>
                    <input asp-for="Price" type="number" step="0.01" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Image</label>
                    <input asp-for="FormFile" type="file" class="form-control" />
                </div>
                <button class="btn btn-success">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
